/* https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */
/* https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
html * {
    font-family: Roboto, sans-serif;
}
body{
    margin: 0;
    background-color: #2B2D42;
    color: #EDF2F4;
}
a {
    color: rgb(208, 173, 240);
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}