/* https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */
/* https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

:root{
  --color-light: #EDF2F4;
  --color-dark: #202326;
  --color-main: #EF233C;
}

html {font-size: 100%;} /*16px*/

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    background-color: #2B2D42;
    color: var(--color-light);
}
a {
    color: rgb(208, 173, 240);
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}
button:not([type]){
  background-color: white;
  border-radius: 0.25em;
}

/*? Type scale */

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 1.38rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}