/* https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc */
/* https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
	--color-light: #edf2f4;
	--color-muted: rgb(175, 175, 175);
	--color-dark: rgb(32, 35, 38);
	--color-main: rgb(239, 35, 60);
	--color-main-muted: rgba(239, 35, 59, 0.85);
	--color-secondary: #2b2d42;
	--box-shadow: 0 3px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

html {
	font-size: 100%;
} /*16px*/

body,
dialog {
	font-family: "Outfit", sans-serif;
	background-color: var(--color-secondary);
	color: var(--color-light);
}
a {
	color: rgb(208, 173, 240);
	text-decoration: none;
}
button:not([type]) {
	background-color: white;
	border-radius: 0.25em;
}


h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

hr {
	border-color: rgba(237, 242, 244, 0.25);
}

dialog {
	border-color: rgba(237, 242, 244, 0.25);
	border-radius: 0.25em;
}
dialog form {
	padding: 5px;
}

input {
	padding: 0.2em;
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: stretch;
}
.vertical-flex {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.flex-1 {
	flex:1;
}

.btn {
	text-align: center;
	color: var(--color-light);
	background-color: var(--color-main);
	padding: 0.25em;
	border-radius: 0.25rem;
	font-size: 1.5em;
	font-weight: 500;
}
.btn:hover {
	background-color: var(--color-main-muted);
	cursor: pointer;
}
.btn:active {
	box-shadow: inset 3px 3px 2px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
a.btn {
	text-decoration: none;
}
button.btn {
	margin: .5rem 0;
	border: none;
	padding: .5rem;
	background-color: var(--color-main);
}